@import '../../../assets/styles/variables.scss';

.feed {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(12rem, auto));
    padding: 2% calc(100% - 86%);
    justify-content: center;

    .item {
        width: 12em;
        margin: .8em .4em;
        border-radius: 8px;
        padding: 1em;
        box-sizing: border-box;
        
        text-align: left;
        border-width: max(1px, 0.1em);
        border: 1px solid map-get($primary-color-gradient, 20);
        box-shadow: 0px 10px 30px 0px rgba(255, 154, 168, .3);
        background-color: $background-item-color;

        animation-name: item;
        animation-duration: .2s;
        animation-fill-mode: backwards;

        .palette {
            max-width: 100%;
            padding-bottom: 100%;
            position: relative;
            display: block;
            height: 3em;

            .colour {
                position: absolute;
                width: 100%;
                display: flex;
                justify-content: center;
                // border: 1px solid map-get($primary-color-gradient, 40);

                animation-name: colour;
                transform-origin: top;
                height: 22.9%;

                &:hover {
                    cursor: pointer;
                }

                // .colour-code {
                //     border-radius: 12px;
                //     font-size: 16px;
                //     letter-spacing: 4px;
                //     font-weight: 200;
                //     font-family: 'Quicksand', sans-serif;
                //     text-transform: uppercase;
                //     border: 1px solid #727272;
                //     color: #dee2e6;
                //     text-align: center;
                //     background-color: #dee2e6;
                //     opacity: .5;
                //     color: #000;
                //     padding: 2px;
                //     width: 80%;
                // }

                &.t4 {
                    &.c1 {
                        padding-bottom: 22%;
                        border-radius: 6px 6px 0 0;
                        border-bottom: 0;
                        animation-duration: 1s;
                    }
    
                    &.c2 {
                        padding-bottom: 54%;
                        border-radius: 8px 8px 0 0;
                        border-top: 0;
                        border-bottom: 0;
                        animation-duration: .6s;
                    }
    
                    &.c3 {
                        padding-bottom: 80%;
                        border-radius: 8px 8px 0 0;
                        border-top: 0;
                        border-bottom: 0;
                        animation-duration: .2s;
                    }
    
                    &.c4 {
                        padding-bottom: 100%;
                        border-radius: 8px;
                        border-top: 0;
                        animation-duration: 0s;
                    }
                }

                &.t3 {
                    &.c2 {
                        padding-bottom: 36%;
                        border-radius: 6px 6px 0 0;
                        border-bottom: 0;
                        animation-duration: 1s;
                    }
    
                    &.c3 {
                        padding-bottom: 74%;
                        border-radius: 8px 8px 0 0;
                        border-top: 0;
                        border-bottom: 0;
                        animation-duration: .6s;
                    }
    
                    &.c4 {
                        padding-bottom: 100%;
                        border-radius: 8px;
                        border-top: 0;
                        animation-duration: .2s;
                    }
                }

                &.t2 {
                    &.c3 {
                        padding-bottom: 40%;
                        border-radius: 6px 6px 0 0;
                        border-bottom: 0;
                        animation-duration: 1s;
                    }
    
                    &.c4 {
                        padding-bottom: 100%;
                        border-radius: 8px;
                        border-top: 0;
                        animation-duration: .6s;
                    }
                }

            }
        }

        .footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 12px;

            .title { 
                margin: 4px 0 0 6px;
                font-size: .8em;
                color: $inactive-color;
                animation-name: fade;
                animation-duration: .5s;
                animation-fill-mode: backwards;
            }

            .since {
                margin-right: 8px;
                font-size: 12px;
                text-transform: capitalize;
                color: $inactive-color;
                animation-name: fade;
                animation-duration: .3s;
                animation-delay: .3s;
                animation-fill-mode: backwards
            }
        }

        .collection-tags {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 12px;
            margin-top: 4px;

            .tag {
                margin-left: 10px;
                color: $inactive-color;

                animation-name: fade;
                animation-duration: .2s;
                animation-fill-mode: backwards;

                &:hover {
                    color: initial;
                    cursor: pointer;
                }
            }
        }
    }

}

@media screen and (max-width: 1000px) {
    .feed {
        grid-template-columns: repeat(auto-fill, minmax(10rem, auto));
        padding: 2% calc(100% - 90%);
    }
}

@media screen and (max-width: 530px) {
    .feed {
        padding: 2%;
    }
}

@media screen and (max-width: 420px) {
    // .feed {
    //     grid-template-columns: repeat(auto-fill, minmax(10rem,auto));
    //     padding: 2%;
    // }
}

@keyframes item {
    0% {
        opacity: 0;
        transform: translateY(10px)
    }
}

@keyframes colour {
    0% {
        transform: scaleY(1.22);
        filter: brightness(320%);
        filter: hue-rotate(52deg)
    }
}

@keyframes fade {
    0% {
        opacity: 0
    }

    20% {
        opacity: .2
    }

    40% {
        opacity: .4
    }

    60% {
        opacity: .6
    }

    80% {
        opacity: .8
    }
}