
<div id="about">

    <div class="header">
        <div class="title">
            <img src="../../../../assets/img/about_this.jpg" alt="Free resource from freepick" width="60" height="60">
            <div>
                <span>About</span>
                <span>This site has been developed with the purpose of developing skills without any profit.</span>
            </div>
        </div>
    </div>
    
    <div class="content">
        <div class="info">The following technologies have been used to develop this site.</div>
    
        <div class="tecnologies">
    
            <mat-list>
    
                <div mat-subheader>FrontEnd</div>
                <mat-list-item>
                    <span class="iconify" data-icon="logos:angular-icon" data-inline="false"></span>
                    <div mat-line> Angular </div>
                    <div mat-line> Framework for project base </div>
                </mat-list-item>
            
                <mat-list-item>
                    <span class="iconify" data-icon="simple-icons:angular" data-inline="false" color="#3f51b5"></span>
                    <div mat-line>Material Angular</div>
                    <div mat-line> Additional Resources </div>
                </mat-list-item>
        
            </mat-list>
        
            <mat-list>
        
                <div mat-subheader>BackEnd</div>
                <mat-list-item>
                    <span class="iconify" data-icon="simple-icons:express" data-inline="false"></span>
                    <div mat-line>ExpressJS powered by NodeJS</div>
                    <div mat-line> Framework for project base  </div>
                </mat-list-item>
            
                <mat-list-item>
                    <span class="iconify" data-icon="vscode-icons:file-type-mongo" data-inline="false"></span>
                    <div mat-line> Mongo DB with mongoose</div>
                    <div mat-line> Database </div>
                </mat-list-item>
            
            </mat-list>
    
        </div>
    
    </div>
    
    <div class="footer">
        <div> Developed with <mat-icon>favorite</mat-icon> by notBadCode</div>
    </div>

</div>