@import '../../../../assets/styles/variables.scss';

button {
    line-height: 35px;
    padding: 0 8px;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    transition: all .1s;
    box-sizing: border-box;
    text-align: center;
    color: var(--inactive-color);
    background-color: #fff;
    box-shadow: 0px 10px 30px 0px var(--primary-gradient-30);
    border: none;
    font-size: 14px;
    position: relative;

    transition: all .1s;

    .mat-icon {
        font-size: 1.2em !important;
        position: relative;
        top: 4px;
        color: var(--inactive-color);
        animation-name: heart;
        animation-duration: .7s;
        animation-delay: .6s;
        animation-fill-mode: backwards;
    }

    span {
        margin-left: 4px;
    }

    &:hover {
        cursor: pointer;
        background-color: var(--primary-gradient-30);
        color: --like-color;

        .mat-icon {
            color: --like-color;
        }
    }

    &.liked {
        cursor: pointer;
        background-color: var(--primary-gradient-30);
        color: --like-color;;

        .mat-icon {
            color: --like-color;;

        }
    }
}

@keyframes heart {
    0% {
        transform: scale(0)
    }

    50% {
        transform: scale(1.4)
    }
}

@keyframes liked {
    0% {
        transform: scale(0)
    }

    50% {
        transform: scale(1.4)
    }
}