@import '../../../../assets/styles/variables.scss';

.pagination-container {
    display: flex;
    justify-content: center;
    padding: 0 16px;

    button {
        ::ng-deep .mat-button-focus-overlay {
            display: none;
        }

        margin: 0 .4em;
        color: var(--primary-color);
        border-color: var(--primary-color);
        background-color: #fff;
        border-color: var(--primary-gradient-20);
        text-align: center;
        box-shadow: 40px 10px 80px 0px var(--primary-gradient-20);
        cursor: pointer;

        .mat-icon {
            position: relative;
            left: .2em;
        }

        &.pages {
            font-size: 16px;
            width: 3em;
            min-width: unset!important;
        }

        &.active {
            background-color: var(--primary-gradient-30);
            box-shadow: none;
            cursor: inherit;

            &:hover {
                background-color: var(--primary-gradient-30);
            }
        }



        &:not(.active) {
            &:not(:disabled) {
                &:hover {
                    background-color: var(--primary-gradient-10);
                }
            }
        }


        &:disabled {
            color: --disabled-color-gradient;
            border-color: --disabled-color-gradient-border;
            background-color: --disabled-color-gradient-background;
        }

        &.forward {
            .mat-icon {
                position: relative;
                left: inherit;
            }
        }
    }
}