@import '../assets/styles/variables.scss';

// .toolbar {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     height: 60px;
//     background-color: transparent;
//     color: $secondary-color;
//     font-weight: 600;

//     img {
//         margin: 0 16px;
//     }

//     span {
//         font-size: 1.2em;
//         margin-left: 24px;
//         padding: 4px 12px;
//         color: $background-color;

//         &.gradient-border {
//             --borderWidth: 2px;
//             background: transparent;
//             position: relative;
//             border-radius: var(--borderWidth);

//             &:after {
//                 content: '';
//                 position: absolute;
//                 top: calc(-1 * var(--borderWidth));
//                 left: calc(-1 * var(--borderWidth));
//                 height: calc(100% + var(--borderWidth) * 2);
//                 width: calc(100% + var(--borderWidth) * 2);
//                 background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
//                 border-radius: calc(2 * var(--borderWidth));
//                 z-index: -1;
//                 animation: animatedgradient 3s ease alternate infinite;
//                 background-size: 300% 300%;
//               }
//           }
//     }

//     .spacer {
//         flex: 1;
//     }

//     .links {
//         margin: 4px calc(5% + 2px) 0 0;
//         cursor: pointer;
//     }

//     svg {
//         fill: $secondary-color;
//     }
    
//     #linkdin-logo {
//         height: 32px;
//     }

//     #github-logo {
//         height: 32px;
//     }

//     #website-logo {
//         height: 32px;
//     }

//     #about-logo {
//         height: 32px;
//     }

//     #linkdin-logo,
//     #github-logo,
//     #website-logo,
//     #about-logo {
//         margin: 0 .6em;
//         &:hover {
//             opacity: .5;
//         }
//     }
// }

.content {
    position: absolute;
    // top: 6em;
    width: -webkit-fill-available;
}

@media (hover: hover) {
    .content {
        .float {
            .btn-float:not(:disabled) {
                &:hover {
                    color: var(--inactive-color);
                    background-color: var(--background-item-color);
                }
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .toolbar {
        span {
            font-size: 1em;
        }
    }
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }

  }