/* You can add global styles to this file, and also import other style files */
@import './assets/styles/variables.scss';
@import './assets/styles/custom.notify.scss';
@import './assets/styles/custom.ngx-colors.scss';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    background-color: #FBFBFB;
}

@media screen and (max-width: 321px) {
    body {
        display: list-item;
    }
}
