@import '~ngx-toastr/toastr.css';

$percent-bg: .90;
$percent-shadow: .3;

$notify-error: #f28b82;
$notify-error-dark: #CC0000;
$notify-error-bg: rgba(242, 139, 130, $percent-bg);
$notify-error-shadow: rgba(204, 0, 0, $percent-shadow);

$notify-success: #00C851;
$notify-success-dark: #007E33;
$notify-success-bg: rgba(129, 201, 149, $percent-bg);
$notify-success-shadow: rgba(0, 126, 51, $percent-shadow);

$notify-warning: #fdd663;
$notify-warning-dark: #ff8800;
$notify-warning-bg: rgba(253, 214, 99 , $percent-bg);
$notify-warning-shadow: rgba(255, 136, 0, $percent-shadow);

$notify-info: #8ab4f8;
$notify-info-dark: #0d47a1;
$notify-info-bg: rgba(138, 180, 248, $percent-bg);
$notify-info-shadow: rgba(13, 71,161, $percent-shadow);

.toast-container {
    box-shadow: none;
    padding: 12px 12px 12px 50px;

    .ngx-toastr {
        border-radius: 4px;
        border: 1px solid;
        margin-bottom: 26px;

        &::before {
            position: absolute;
            left: 0em;
            top: 0;
            font-size: 24px;
            background: rgba(255, 255, 255, .6);
            padding: 0 .32em;
            height: 100%;
            display: flex;
            align-items: center;
        }

        button {
            position: absolute;
            right: .32em;
            top: .24em;
            background: rgba(255, 255, 255, .6);
            padding: 3px 8px 1px 8px;
            border-radius: 100%;
            text-shadow: none;
            span {
                font-size: 24px;
                font-weight: lighter;
            }
        }
    
        &.notify-success {
            color: $notify-success-dark;
            background: $notify-success-bg;
            border-color: $notify-success-shadow;
            box-shadow: 0 2px 26px $notify-success-shadow;

            &::before {
                font-family: "Material Icons";
                content: "\e86c";
            }

            button {
                color: $notify-success-dark;
            }

            .toast-progress {
                background-color: $notify-success-dark;
            }
        }

        &.notify-error {
            color: $notify-error-dark;
            background: $notify-error-bg;
            border-color: $notify-error-shadow;
            box-shadow: 0 2px 26px $notify-error-shadow;

            &::before {
                font-family: "Material Icons";
                content: "\e645";
            }

            button {
                color: $notify-error-dark;
            }

            .toast-progress {
                background-color: $notify-error-dark;
            }
        }

        &.notify-warning {
            color: $notify-warning-dark;
            background: $notify-warning-bg;
            border-color: $notify-warning-shadow;
            box-shadow: 0 2px 26px $notify-warning-shadow;

            &::before {
                font-family: "Material Icons";
                content: "\e645";
                transform: rotate(180deg);
            }

            button {
                color: $notify-warning-dark;
            }

            .toast-progress {
                background-color: $notify-warning-dark;
            }
        }

        &.notify-info {
            color: $notify-info-dark;
            background: $notify-info-bg;
            border-color: $notify-info-shadow;
            box-shadow: 0 2px 26px $notify-info-shadow;

            &::before {
                font-family: "Material Icons";
                content: "\e88e";
                transform: rotate(180);
            }

            button {
                color: $notify-info-dark;
            }

            .toast-progress {
                background-color: $notify-info-dark;
            }
        }
    }
}